<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Prediktor.ExcelImport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Prediktor.ExcelImport.Properties.Settings>
            <setting name="LastUri" serializeAs="String">
                <value>opchda://localhost/Prediktor.ApisOPCHDAServer.1</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>pack://application:,,,/Prediktor.Carbon.Style;component/DarkTheme.xaml</value>
            </setting>
            <setting name="DebugView" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ResultView" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CurrentFile" serializeAs="String">
                <value />
            </setting>
            <setting name="HighPrecisionTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SolutionExplorerView" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConnectionLimit" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ConnectionView" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartInColum" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IncludeTimestamp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeQuality" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimestampsInFirstCol" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimestampsInLocalZone" serializeAs="String">
                <value>False</value>
            </setting>
        </Prediktor.ExcelImport.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
