<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Prediktor.ExcelImport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <!-- log4net settings -->
  <log4net>
    <appender name="DebugRollingLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="logs/debug.log4net"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="MaximumFileSize" value="64MB"/>
      <param name="RollingStyle" value="Size"/>
      <param name="StaticLogFileName" value="true"/>
      <param name="Threshold" value="DEBUG"/>
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="DEBUG"/>
        <acceptOnMatch value="true"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,fff} %-5p %c - %m%n"/>
      </layout>
    </appender>
    <appender name="InfoRollingLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="logs/info.log4net"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="MaximumFileSize" value="64MB"/>
      <param name="RollingStyle" value="Size"/>
      <param name="StaticLogFileName" value="true"/>
      <param name="Threshold" value="INFO"/>
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="INFO"/>
        <acceptOnMatch value="true"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,fff} %-5p %c - %m%n"/>
      </layout>
    </appender>
    <appender name="WarnRollingLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="logs/warning.log4net"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="MaximumFileSize" value="64MB"/>
      <param name="RollingStyle" value="Size"/>
      <param name="StaticLogFileName" value="true"/>
      <param name="Threshold" value="WARN"/>
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="WARN"/>
        <acceptOnMatch value="true"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,fff} %-5p %c - %m%n"/>
      </layout>
    </appender>
    <appender name="ErrorRollingLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="logs/error.log4net"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="MaximumFileSize" value="64MB"/>
      <param name="RollingStyle" value="Size"/>
      <param name="StaticLogFileName" value="true"/>
      <param name="Threshold" value="ERROR"/>
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="ERROR"/>
        <acceptOnMatch value="true"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,fff} %-5p %c - %m%n"/>
      </layout>
    </appender>
    <appender name="EventAggregatorAppender" type="Prediktor.Carbon.Infrastructure.Implementation.EventAggregatorAppender,Prediktor.Carbon.Infrastructure">
    </appender>
    <root>
      <priority value="DEBUG"/>
      <appender-ref ref="ErrorRollingLogFileAppender"/>
      <appender-ref ref="DebugRollingLogFileAppender"/>
      <appender-ref ref="InfoRollingLogFileAppender"/>
      <appender-ref ref="WarnRollingLogFileAppender"/>
      <appender-ref ref="ErrorRollingLogFileAppender"/>
      <appender-ref ref="EventAggregatorAppender"/>
    </root>
  </log4net>
  <userSettings>
    <Prediktor.ExcelImport.Properties.Settings>
      <setting name="LastUri" serializeAs="String">
        <value>opchda://localhost/Prediktor.ApisOPCHDAServer.1</value>
      </setting>
      <setting name="Theme" serializeAs="String">
        <value>pack://application:,,,/Prediktor.Carbon.Style;component/DarkTheme.xaml</value>
      </setting>
      <setting name="DebugView" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ResultView" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CurrentFile" serializeAs="String">
        <value/>
      </setting>
      <setting name="HighPrecisionTime" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SolutionExplorerView" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ConnectionLimit" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="ConnectionView" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartInColum" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="IncludeTimestamp" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IncludeQuality" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TimestampsInFirstCol" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TimestampsInLocalZone" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CommonName" serializeAs="String">
        <value/>
      </setting>
      <setting name="Domain" serializeAs="String">
        <value/>
      </setting>
      <setting name="Organization" serializeAs="String">
        <value/>
      </setting>
      <setting name="KeyLength" serializeAs="String">
        <value/>
      </setting>
      <setting name="Validity" serializeAs="String">
        <value/>
      </setting>
    </Prediktor.ExcelImport.Properties.Settings>
  </userSettings>
</configuration>
